<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>serverURL</key>
	<string>NSURL(http://rc.staging.seekingalpha.com)</string>
	<key>login</key>
	<string>semion@seekingalpha.com</string>
	<key>password</key>
	<string>123456</string>
	<key>servereAuthURL</key>
	<string>https://staging.seekingalpha.com/authentication/rc_mobile_login</string>
	<key>websocketURL</key>
	<string>wss://rc.staging.seekingalpha.com/websocket</string>
	<key>moneURL</key>
	<string>https://staging.seekingalpha.com/mone</string>
	<key>moneEventURL</key>
	<string>https://staging.seekingalpha.com/mone_event</string>
</dict>
</plist>
